<div class="flex surface-section text-800">
    <div class="justify-content-center col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
        <section class="justify-content-center">
            <span class="block text-6xl font-bold mb-1">ТСН «Искона»</span>
            <div class="text-6xl text-primary font-bold mb-3">Волоколамский район</div>
            <p class="mt-0 mb-4 text-700 line-height-3">Данный сайт является неофициальным средством массовой информации для членов товарищества собственников недвижимости «ИСКОНА»</p>

            <button pButton pRipple label="Подробнее" type="button" class="mr-3 p-button-raised" (click)="router.navigate(['/about']);"></button>
            <button pButton pRipple label="Live" type="button" class="p-button-outlined"></button>
        </section>
    </div>
</div>
