<div class="flex surface-section p-4">
  <div class="w-12 sm:w-6 px-4 py-8 md:px-6 lg:px-8">
    <div class="border-left-2 border-blue-500">
      <span class="bg-white text-blue-500 font-bold text-2xl inline-block px-3">
        404
      </span>
    </div>
    <div class="mt-6 mb-5 font-bold text-6xl text-900">
      Страница не найдена
    </div>
    <p class="text-700 text-3xl mt-0 mb-6">
      Извините, мы не смогли найти страницу.
    </p>
  </div>
   <div class="w-6 hidden sm:block" >
      <img src="../../../assets/1234.jpeg" alt="" style="max-width: 900px; overflow: hidden">
    </div>
</div>
